<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">Inicio</div>
                <a class="nav-link collapsed" routerLink="/pages/incidentes/lista">
                    <div class="sb-nav-link-icon"><i class="fa fa-user-times"></i></div>
                    Incidentes
                </a>
                <a class="nav-link collapsed" routerLink="/pages/personal/lista">
                    <div class="sb-nav-link-icon"><i class="fa fa-group"></i></div>
                    Personal
                </a>
                <a class="nav-link collapsed" routerLink="/pages/ambulancias/lista">
                    <div class="sb-nav-link-icon"><i class="fa fa-ambulance"></i></div>
                    Ambulancias
                </a>
                <a class="nav-link collapsed" routerLink="/pages/dashboard/lista">
                    <div class="sb-nav-link-icon"><i class="fa fa-map-marker"></i></div>
                    Ubicación
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Módulo Bomberos</div>
            Siisweb {{anio}}
        </div>
    </nav>
</div>